.infected {
	font-family: monospace;
	background-color: #FF0000;
	color: #FFFFFF;
	font-size: 18pt;
	padding: 10px;
}

.susceptible {
	font-family: monospace;
	background-color: rgb(0, 102, 255);
	color: #FFFFFF;
	font-size: 18pt;
	padding: 10px;
}

.removed {
	font-family: monospace;
	background-color: rgb(28, 121, 0);
	color: #FFFFFF;
	font-size: 18pt;
	padding: 10px;
}
.row {
	display: flex;
}
  
.column {
	flex: 33.33%;
}

#sketch-holder {
	padding:10px;
}